* {
    margin: 0;
}
body {
    background-color: rgb(1, 1, 13);
    display: flex;
    justify-content: center;
}
section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
margin-top: 50px;

    display: flex;
    justify-content: space-between;
}
button {
    background-color: rgb(79, 79, 231);
    color: white;
    padding: 5px;
    border-radius: 4px;
}

:popover-open {
    padding: 10px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: solid 1px white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
::backdrop {
            background-color: rgb(0, 0, 0, .5);
        }
